html, body
   {font-family:sans-serif;}
body:hover
    {cursor: not-allowed;}

a  {text-decoration: none; color:blueviolet;}
a:hover
    {text-decoration: underline; color: rgb(27, 228, 255); cursor: crosshair;}

.container
    {display: grid; grid-template-columns: 1fr 1fr; gap:5px;}
.header
    {background-color: rgb(215, 214, 214); padding: 10px; grid-column-start:1; grid-column-end:3; display: flex; align-items: center; justify-content: space-between;}

.header h1
    {margin: 0; font-weight: bold; font-size: 150%;}

.header ul
    {display: flex; list-style: none; margin: 0; padding: 0; gap: 20px;}

.header li
    {margin: 0;}

.facts
    {background-color: rgb(233,229,205); padding: 10px;}

.sounds
    {background-color: rgb(233,229,205); padding: 10px;}

.article
    {padding: 10px; background-color: rgb(221, 221, 221);}
.header:hover
    {cursor:ew-resize;}
h2  {font-weight: bold;}

footer
    {background-color: rgb(215, 214, 214); grid-column-start:1; grid-column-end:3;}