html, body
   {font-family:sans-serif;}
body:hover
    {cursor: not-allowed;}

a  {text-decoration: none; color:blueviolet;}
a:hover
    {text-decoration: underline; color: rgb(27, 228, 255); cursor: crosshair;}

.container
    {display: grid;}

.header
    {font-weight: bold; font-size: 150%;}
.header:hover
    {cursor:ew-resize;}
h2  {font-weight: bold;}

footer
    {background-color: rgb(215, 214, 214);}